.dashboard-bg{
    position:relative;
    overflow:hidden;

    background:
    linear-gradient(
        135deg,
        #06172B 0%,
        #0A2342 35%,
        #123A6D 75%,
        #17598F 100%
    );

    min-height:100vh;
}

.dashboard-bg::before{

    content:"";

    position:absolute;

    inset:0;

    background-image:url("../assets/dashboard/world-map.svg");

    background-repeat:no-repeat;

    background-position:center;

    background-size:75%;

    opacity:.08;
}

.dashboard-bg::after{

    content:"";

    position:absolute;

    width:900px;

    height:900px;

    border-radius:50%;

    background:

    radial-gradient(circle,#2AE6D711,transparent 70%);

    right:-250px;

    top:-250px;

    filter:blur(40px);
}